@charset "utf-8";

*{margin:0;padding: 0}
body,button,input,select,textarea,th{color:#8B8B8B;background-color:#FFF;font-size:12px;line-height:1.5em;font-family:Arial,Tahoma,"hiragino sans gb",Helvetica}
h1,h2,h3,h4,h5,h6{font-size:100%}
li{list-style:none}
img{border:0 none;-ms-interpolation-mode:bicubic}
input[type="button"],input[type='submit']{cursor:pointer}
button{cursor:pointer}
table{border-collapse:collapse;border-spacing:0}
a{color:#515151;text-decoration:none}
a:hover{color:#333}
			.layout{
				width: 960px;
				margin: 0 auto;
			}
			.main_container{
				width: 700px;
				margin-right: 40px;
				float: left;
			}
			.main_container .songlist{
				border-bottom: #ccc solid 2px;
				overflow: hidden;
				color: #aaa;
				position: relative;
				padding: 10px;
			}

			.songlist .user_name{
				color:#336633;
				font-size: 15px;
				font-family: "Microsoft Yahei";
				display: inline-block;
				padding-right: 10px;
			}
			.songlist .user_name:hover{
				color:#2f2f2f;

			}
			.songlist .music_name{
				
				font-size: 20px;
				font-family: "Microsoft Yahei";
				margin-top:15px;
			}
			.op_content{
				margin-top:20px;
				vertical-align: middle;
			}
			.op_content li{
				float: left;
				margin-right: 20px;
			}
			.op_content  a i{
				background-image: url(../images/icon_sprite.png);
				display: block;
				width: 22px;
				height: 22px;
				float: left;
			
			}

			.op_content .icon_fav{
				background-position: -155px -182px;
			}
			.op_content .icon_like{
				background-position:-111px -138px;
			}
			.op_content .icon_share{
				background-position:-133px -182px
			}
			
			.op_content .icon_like:hover{
				background-position:-111px -182px;
			}
			.op_content .icon_share:hover{
				background-position:-133px -138px
			}
			.songlist .why_share{
				margin-top: 20px;
			}
			.songlist .why_share .why_1{
				color: #cc9966;
				font-family: Arial;

			}
			.songlist .why_share .why_2{
				color: #aaa;
				padding-left:20px; 
			}
			.songlist .op_btn{
				position: absolute;
				right: 50px;
				top: 30px;
				
				height: 30px;
			}
			.songlist .op_btn a{
				background:url(../images/singer_bg.png) no-repeat;
				width: 30px;
				height: 30px;
				display: block;
				text-indent: -999em;
				float: left;

			}
			.songlist .op_btn .op_play{
				background-position: 0 -279px;
				margin-right: 10px;
			}
			.songlist .op_btn .op_add{
				background-position: -80px -279px;
			}
			.songlist .op_btn .op_play:hover{
				background-position: 0 -310px;
			}
			.songlist .op_btn .op_add:hover{
				background-position: -80px -310px;
			}
			.layout .side_container{
	width: 220px;
	float: left;
}

			.mod_user{
	border-bottom: solid 1px #e4e4e4;
	padding:0 0 18px;
	margin: 0 0 20px;
	position:relative;
}
.mod_content{
	width: 220px;
	overflow: hidden;

}
.mod_user_info{
	height: 100px;
	margin: 0 0 14px;

}

.mod_user_info .mod_user_photo{
	width: 100px;
	height: 100px;
	position: absolute;
}
.mod_user_info p{
	margin:0 0 0 110px;
	width: 110px;
	overflow: hidden; 
}
.mod_user_name{
	height: 32px;
	line-height: 32px;
	font-size: 18px;
	color:#0c8f44;
	position: relative;
	top:-6px;
	font-family: "Microsoft Yahei";
	/*text-overflow:ellipsis;*/
	white-space: nowrap;
}

.mod_user_name a{
	color:#0c8f44;
}

.mod_user_statistic{
	height: 38px;
	width: 260px;
}
.mod_user_statistic li{
	float: left;
	border-right:solid 1px #e2e2e2;
	padding-right: 10px;
	margin-right:10px; 
}
.mod_user_statistic a:hover strong{
	color:#0c8f44;
}
.mod_user_statistic li strong{
	display: block;
	font-size: 15px;
	font-weight: 500;
	color:#333;
	margin: 0 0 3px;
}

.mod_user_statistic li span{
	display: block;
	color:#999;
}
.normal_info{
	padding:10px 10px 4px 0;
}
.normal_info p{
	margin: 0 0 6px;
}

.normal_info a{
	padding:0 10px;
	background-color:#0dad51;
	box-shadow: 1px 2px 0 #f2f2f2;
	height: 20px;
	color: #fff;
	display: inline-block;
	line-height: 19px;
	border-radius:3px;
	border:1px solid #0dad51;
}

.normal_info a:hover{
	background-color: #fff;
	color: #0dad51;
	border-color: #ccc;
}

.divMaskPage{
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0.5;
	z-index: 100;
	width: 100%;
	height: 2000px;
	
	background: rgb(0, 0, 0);

}
.divdialog{
	position: absolute;
	z-index: 1000;
	opacity: 1;
	visibility: visible;
	width: 480px;
	height: 337px;
	left: 437px;
	top: 40px;
}
.divdialog .popup_dialog_hd{
	width: 100%;
	height:30px;
	position: absolute;
}

.divdialog .popup_dialog_close {
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 0;
	right: 20px;
	text-indent: -999em;
	overflow: hidden;
	background: url(../images/icon_sprite.png) no-repeat -70px -70px;
	z-index: 3;
}
.share_dialog{
	padding: 50px;
	background-color: #fff;
	width: 380px;
	position: absolute;
}

.share_dialog .share2where{
	height: 35px;
	text-indent: -9999em;
	overflow: hidden;
	background:url(../images/share_bg.png) no-repeat 0 0;
}
.share_dialog .choose_text{
	height: 13px;
	margin: 11px 0 15px;
	text-indent: -9999em;
	overflow: hidden;
	background:url(../images/share_bg.png) no-repeat 0 -49px;
}

.share_dialog .share_list{
	overflow:hidden;
	margin:0 0 20px;
	width: 380px;
}
.share_dialog .share_list li{
	float: left;
	margin-right: 28px;
	overflow: hidden;
	text-align: center;
	width: 108px;
}
.share_dialog .share_list .pengyou{
	margin: 0
}
.share_dialog .share_list li a{
	display: block;
	width: 108px;
	height: 134px;
	margin-bottom: 8px;
	background:url(../images/share_bg.png) no-repeat;
	position:relative;
}
.share_dialog .share_list .qzone a{
	background-position:0 -86px;
}
.share_dialog .share_list .mblog a{
	background-position:-135px -86px;
}
.share_dialog .share_list .pengyou a{
	background-position:-270px -86px;
}
.share_dialog .share_list .qzone a:hover{
	background-position:0 -224px;
	color:#f5db3f;
}
.share_dialog .share_list .mblog a:hover{
	background-position:-135px -224px;

}
.share_dialog .share_list .pengyou a:hover{
	background-position:-270px -224px;
}
.share_dialog .share_list .pengyou a:hover i,.share_dialog .share_list .qzone a:hover i,.share_dialog .share_list .mblog a:hover i{
	display: block;
}

.share_dialog .share_list li a i{
	display: none;
	width: 14px;
	height: 14px; 
	background:url(../images/share_bg.png) no-repeat -93px -181px;
	position: absolute;
	left: 93px;
	top: 95px;
}


.share_dialog .share_list li a span{
	display: block;
	width: 108px;
	position: absolute;
	left: 0;
	bottom: 0;
	font-size: 16px;
	font-family: "Microsoft Yahei";
	cursor:pointer;
}

.share_dialog .text_box{
	margin-bottom: 18px;

}
.share_dialog .text_box textarea{
	width: 372px;
	height: 54px;
	padding:3px;
	border:solid 1px #e2e2e2;
	line-height: 18px;
	color: #333;
	resize:none;
}
.share_dialog .text_count{
	text-align:right;
	float: right;
	margin-top: -6px;
	line-height: normal;
}
.share_dialog .text_count span{
	font-size: 24px;
}

.share_dialog .share_btn{
	clear: both;
	text-align: right;
	padding: 10px 0 0;
}
.share_dialog .share_btn .btn_confirm{
	color:#fff;
	display: inline-block;
	line-height: 29px;
	height: 29px;
	width: 70px;
	text-align: center;
	font-size: 14px;
	font-family: "Microsoft Yahei";
	border:1px solid #0dad51;
	background-color: #0dad51;
	margin-right: 6px;
	border-radius: 3px;
	box-shadow: 1px 2px 0 #c5dcc4;
}
.share_dialog .share_btn .btn_cancel{
	color:#8b8b8b;
	display: inline-block;
	line-height: 29px;
	height: 29px;
	width: 70px;
	text-align: center;
	font-size: 14px;
	font-family: "Microsoft Yahei";
	border:1px solid #ddd;
	background-color: #fff;
	margin-right: 6px;
	border-radius: 3px;
	box-shadow: 1px 2px 0 #f2f2f2;
}